h2 {
  text-align: center;
}

input {
  display: block;
  margin-bottom: 12px;
  width: 100%;
}

.wrapper {
  max-width: 690px;
  margin: 100px auto;
}

.dialog {
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 12px 0 rgba(216,221,230,0.4),0 8px 14px 0 rgba(216,221,230,0.2);
}

.warning {
  width: auto;
  color: #eb5f64;
  margin: 12px 0;
  padding: 12px;
  border-radius: 4px;
  background-color: #fff5f5;
  box-shadow: 0 1px 1px 0 rgba(238,95,91,0.25);
}

.url-list {
  list-style: none;
  padding: 0;
}

.url-list > li {
  padding: 24px;
  background-color: cyan;
  border-radius: 12px;
  margin-bottom: 12px;
}

.hide {
  display: none;
}
