h2 {
  text-align: center;
}

input {
  display: block;
  margin-bottom: 12px;
  width: 100%;
}

.wrapper {
  max-width: 690px;
  margin: 100px 80px;
}

.dialog {
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 12px 0 rgba(216,221,230,0.4),0 8px 14px 0 rgba(216,221,230,0.2);
}
